<div class="contenedor-products">
  <h2 class="bienvenido">Bienvenido,
    {{user.first_name}}
    ¡Que gusto verte!
  </h2>
  {{#if products.length}}
    {{#each products}}
      <div class="items">
        <p>{{title}}</p>
        <p>{{price}} </p>
        <p>{{category}} </p>
      </div>
    {{/each}}
  {{else}}
    <p class="text"> No se encontraron productos🙄</p>
  {{/if}}
  <div class="new-user">
    <button
      class="button btn-secundary"
      onclick="location.href='/api/carts"
    >Agregar al carrito</button>
    <div>
      <button
        class="button btn-secundary"
        onclick="location.href='/sessions/login'"
      >Cerrar Sesión</button>
    </div>
  </div>
</div>

<script src="js/index.js" charset="utf-8"></script>