<div class="contenedor-profile">
  <h1>Profile  </h1>
  {{#if}}
  {{#each user}}
  <div>
    <p> {{first_name}}</p>
    <p> {{last_name}}</p>
    <p> {{age}}</p>
    <p> {{role}}</p>
  </div>
  {{else}}
  <div>
    <h1>Hello {{user.name}}</h1>
      <p>There are nothing yet.</p>
    </div>
  {{/each }}
  {{/if}}
  <div class="register">
    <button
      class="button btn-secudary"
      onclick="location.href='/api/users/logout'"
    >Cerrar Sesión</button>
  </div>

</div>