<div class="contenedor-profile">
  <h1>Profile </h1>
  {{!--  {{#if user}}
  {{#each this}} --}}
  <h2>Hello {{user.email}}</h2>
  <div class="profile">
    <p> Nombre: {{user.first_name}}</p>
    <p>role: {{user.role}}</p>
  </div>

  {{!--   {{else}}
  <div>
    <h1>Hello {{user.first_name}}</h1>
      <p>There are nothing yet.</p>
  </div>
  {{/each }}
  {{/if}} --}}
  <div class="register">
    <button
      class="button btn-secudary"
      onclick="location.href='/api/sessions/login'"
    >Cerrar Sesión</button>
  </div>
</div>